<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team TA</title>
  <link href="stylesheets/index.css" rel="stylesheet" type="text/css" />
  <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
  <script src="js/group07.js" type="text/javascript"></script>
</head>
<body class="body_stuff">
  <div id="wrapper">
    <!--===============================HEADER===============================-->
    <div class="banner">
    	<div id="slogan">
			<img  src="img/slogan.png" alt="team_slogan" />
		</div>
	    <div class="banner_spin" id="spin_1" > <div class="contain" ></div> </div>
	<!--	<div id="slogan">
			<img  src="img/slogan.png" alt="team_slogan" />
		</div>-->
	</div> 
    <header id="s_header" class="s_lvl_0">  
    <div class="space"></div>  	

    </header>
    <!--================================BODY================================-->
    <section id="s_body" class="s_lvl_0">
	    <div id="profile_contain">
		  <div id="profile_top">  
		    	<div id ="pic1"> 
		    		<div id = "arash_info">
		    		     <p>
		    		     		Arash <br> Vatanpoor <br>
		                 </p>
		    		</div>
				</div>
		    	<div id ="pic2"> 
		    	    <div id = "devarsh_info">
		    		     <p>
		    		     		Devarsh <br> Desai <br>
		                 </p>
		    		</div>
		    	</div>
		    	<div id ="pic3"> 
		    	    <div id = "jason_info">
		    		     <p>
		    		     		Jason <br> Won Cho <br>
		                 </p>
		    		</div>
		    	</div>
		    </div>
		    <div id="profile_bottom">	
		    	<div id ="pic6"> 
		    	    <div id = "zi_info">
		    		     <p>
		    		     		Zi <br> Brut <br>
		                 </p>
		    		</div>
		    	 </div>
		    	<div id ="pic5"> 
					<div id = "steven_info">
		    		     <p>
					<!-- steven pic is missing -->	
		                        Steven <br> Lung <br>
	
		                 </p>
		    		</div>
		    	 </div>
		    	 <div id ="pic4"> 
		    	    <div id = "anthony_info">
		    		     <p>
		    		     		Anthony <br> Mao <br>
		                 </p>
		    		</div>
		    	</div>
		    </div>
	    </div>
       <section id="right_news">
    	<div id="team_project">
    		 <h2 id="ta">Techie Asians</h2>
			 <h3 id="project_pre">Project at Hand:</h3>
    		 <h4 id="project_title">Physical Therapy Scheduling App</h4>
		 <a href="reminder">Reminder Message Sender POC</a>
    		 <h5 id="come_soon">More Info, Coming Soon!</h5>
    	</div> 
    </section >
    </section>
 <div class="space1"></div>  	
    <!--===============================FOOTER===============================-->
    <section id="s_footer" > 
    	<div> 
    		<img id="ta_icon" src="img/icon.jpg" alt="TA_icon" />
    	</div> 
    	<div>
    		<!--<img id="tech_logo" src="img/tech_logo.png" alt="tech">-->
    	</div> 
    </section>
  </div>
</body>
</html>