.banner{
       height: 200px;
	   border: 1px solid black;
	   width: 1000px;;
	   margin: 0 auto;
	   overflow:hidden;
	   background-color: white;
}	

.banner:hover { cursor: pointer;}
/*spin stuff*/

.banner_spin {
	   height: 250px;
	   width: 1400px;;
	   margin: 0 auto;
	   background-image: url(../img/logo_v1.jpg);
	   background-size: auto;
	   background-repeat: no-repeat;
	   text-align: center;
}



.banner_spin .contain{
	margin-top:-6px;
	width:200px;

}

.banner_spin .slot{
	width:100px;
	height:100px;
	text-align:center;

}

#slogan{
	position: absolute;
	top: 10px;
	left:500px;
}


.space 			{height: 10px;}




#s_body           { overflow: hidden;
                    padding-bottom: 0px; 
                    margin-left: 0%; 
                    width: 1000px;
                    margin: 0 auto;
                    border: 1px solid black;
                    height: 565px;
					background-color: rgba(220,221,222,0.95);
                    }
 
.body_stuff    { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
				 background-color: rgba(188,209,222,0.91);
}   

#right_news {
	position: relative;
	float: right;
	top: 80px;
	right: 100px;
}

#ta{
	font-family: Arial;
	font-size: 45px;
}
#project_pre{

	font-family: Arial;
	font-size: 15px;
	
}
#project_title{

	font-family: Arial;
	font-size: 22px;
	
}
#come_soon{
	font-family: Arial;
	font-size: 13px;
	
}
#profile_contain {

		position: relative;
		float: left;

}
#profile_top {
			  position: relative;
			  top: 20px;
			  left: 5px;
}
#profile_bottom{
			  position: relative;
			  top: 290px;
			  left: 5px;
}                
#pic1 		{ height: 250px;
			  width : 104.2px;
			  position: absolute;
			  background-color:  white;
			  background-image: url(../img/arash.jpg);
			  background-size: cover;
			  border: 1px solid black;
			  display: none;
			}
			

	
                    
#pic2 		{ height: 250px;
			  width : 104.2px;
			  position: absolute;
			  left: 110px;
			  background-color:  white;
			  background-image: url(../img/devarsh.jpg);
			  background-size: cover;
			  border: 1px solid black;
			  display: none;
	
			}			

                    
#pic3		{height: 250px;
			  width : 104.2px;
			  position: absolute;
			  left: 220px;
			  background-color:  white;
			  background-image: url(../img/jason.jpg);
			  background-size: cover;
			  border: 1px solid black;
			  display: none;
	
			}
                    
#pic4		{ height: 250px;
			  width : 104.2px;
			  position: absolute;
			  background-color:  white;
			  background-image: url(../img/anthony.jpg);
			  background-size: cover;
			  border: 1px solid black;
			  display: none;
	
			}	

#pic5		{ height: 250px;
			  width : 104.2px;
			  position: absolute;
			  left: 110px;
			  background-color:  white;
			  background-image: url(../img/steven.jpg);
			  background-size: cover;
			  border: 1px solid black;
			  display: none;
	
			}	
			
#pic6		{ height: 250px;
			  width : 104.2px;
			  position: absolute;
			  left: 220px;
			  background-color:  white;
			  background-image: url(../img/zi.jpg);
			  background-size: cover;
			  border: 1px solid black;
			  display: none;
	
			}	
			
			
			
			
#arash_info, #devarsh_info, #jason_info, #anthony_info, #steven_info, #zi_info	

{ 
												position: absolute; bottom: 0; 
												background-color: rgba(95,140,168,0.73);
												width: 104.2px;
												padding-bottom: 0px;
												padding-top: 10px;
												font-family: Optima;
												color: white;
												display: none;
												border-top: 1px solid white;
												
												}
			  		  
#pic1:hover #arash_info {
						opacity: 1.0;
				  		display: block;
				  			
				  		}	
													  		
													  		
													  		
#pic2:hover #devarsh_info {
							opacity: 1.0;
					  		display: block;		
				  		}	
				  		
				  													  																	  		
#pic3:hover #jason_info 	{
						opacity: 1.0;
				  		display: block;		
				  		}	
#pic4:hover #anthony_info	{
						opacity: 1.0;
				  		display: block;		
				  		}		
#pic5:hover #steven_info	{
						opacity: 1.0;
				  		display: block;		
				  		}
#pic6:hover #zi_info	{
						opacity: 1.0;
				  		display: block;		
				  		}


#team_project	{
						color: #2c4656;
						text-shadow: 3px 3px 5px #83a0b2;
}				  		
				  		
				  		
				  																		  														
#s_footer         {	height: 100px;
	   				border: 1px solid black;
	   				width: 1000px;;
	   				margin: 0 auto;
	   				overflow:hidden;
	   				background-color: rgba(174,179,183,0.96);
                    }

#tech_logo        { width: 150px;
					float:right;
					margin: 30px 25px;

					}
#ta_icon        { 
					height: 75px;
					width: 75px;
					float:right;
					/*margin: 60px 55px;*/
					border: 1px solid black;
					margin-bottom: 10px;
					margin-right: 50px;
					margin-top: 13px;

					}
					
.space1 			{height: 10px;}					

p  {padding-left: 9px;}



/*background stuff

				background-image: url(../img/bg.jpg);
                background-size: contain; 
                opacity: 1; }
                
            
*/



					



					
