#s_header         {	height: 100px;
	   				border: 1px solid black;
	   				width: 1000px;
	   				margin: 0 auto;
	   				overflow:hidden;
	   				background-color: rgba(174,179,183,0.96);
                    }
                    
#ta_icon_top       { 
					height: 75px;
					width: 75px;
					float:left;
					/*margin: 60px 55px;*/
					border: 1px solid black;
					margin-bottom: 10px;
					margin-left: 50px;
					margin-top: 13px;

					}

#reminder_title {
	margin-top: 35px;
	margin-left: 30%;
	font-size: xx-large;
	font-weight: bolder;
}

.space 			{height: 10px;}

#s_body           { overflow: hidden;
                    padding-bottom: 0px; 
                    margin-left: 0%; 
                    width: 1000px;
                    margin: 0 auto;
                    border: 1px solid black;
                    height: 565px;
					background-color: rgba(220,221,222,0.95);
                    }
 
.body_stuff    { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
				 background-color: rgba(188,209,222,0.91);
}   


/*label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}*/
.mod_in {
  float: left;
  height:30px;
  width:286px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  padding:0 10px;

}

#text_box, #email_box {
	display: inline-block;
	float: left;
}

#add_notes{
	margin-left: 250px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  padding:0 10px;
	
}
#contents {
	margin-top: 50px;
	margin-left: 20px;
}

#remind_button{
	margin-top: 10px;
	margin-left: 145px;
	font-size: x-large;
	width:150px;
}
#s_footer         {	height: 100px;
	   				border: 1px solid black;
	   				width: 1000px;
	   				margin: 0 auto;
	   				overflow:hidden;
	   				background-color: rgba(174,179,183,0.96);
                    }

#tech_logo        { width: 150px;
					float:right;
					margin: 30px 25px;

					}
#ta_icon        { 
					height: 75px;
					width: 75px;
					float:right;
					/*margin: 60px 55px;*/
					border: 1px solid black;
					margin-bottom: 10px;
					margin-right: 50px;
					margin-top: 13px;

					}
					
.space1 			{height: 10px;}					

p  {padding-left: 9px;}



/*background stuff

				background-image: url(../img/bg.jpg);
                background-size: contain; 
                opacity: 1; }
                
            
*/



					



					
